.posts-list {
  max-height: 300px;
  overflow-y: scroll;
}

.posts-list table {
  width: 100%;
  border-collapse: collapse;
}

.posts-list th, .posts-list td {
  padding: 10px;
  border: 1px solid #ccc;
}

.posts-list th {
  background-color: #292929;
  font-weight: bold;
  text-align: left;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}



.main-headline {
  height: 50px;
  background-color: #2f2f2f;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button {
  background-color: #EDF8FE;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: #292929;
  font-weight: bold;
  width: 300px;
  text-align: center;
}

.gray {
  background-color: #454545;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.gray:hover {
  background-color: #999;
}

.login-container {
  margin: 50px auto;
  max-width: 400px;
  text-align: center;
}

.login-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-container {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

.profile-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-container p {
  font-size: 20px;
  margin-bottom: 20px;
}

.content {
  min-height: 100%;
  margin-bottom: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li span:first-child {
  font-weight: bold;
  margin-right: 10px;
}
.info ul li {
  display: block;
}

body {
  background-color: #292929;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}


.main-headline {
  background-color: #3a475d;
  padding: 10px;
  font-weight: bold;
}

.content-container {
  background-color: #3a475d;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  border-radius: 5px;
}



main {
  flex-grow: 1;
}